.centrar{
    margin-left: 35%;
    margin-top: 5%;
    color: green;
}
.centrar_botones{
    margin-left: 40%;
}
.centrar_titulo{
    margin-left: 14%; 
}
.centrar_titulo_lobby{
    margin-left: 35%; 
}
h2{
    color: green;
}
h4{
    text-align: center;
    margin-top: 5%;
}