.center_button_channel_user{
    margin-left: 36%;
    margin-bottom: 8%;
    margin-top: 8%;
}
.user_chat{
    height: 80%;
    border-style: solid;
    border-width: 2%;
    border-color: green;
}
.messages{
    height: 80%;
    border-style: solid;
    border-width: 2%;
    border-color: black;
    display: flex;
    flex-direction: column;
}
.send_message{
    height: 20%;
    width: 100%;
    border-style: solid;
    border-width: 2%;
}
.users_view{
    margin-left: 10%;
    font-size: 100%;
    color: green;
}
.text{
    height: 80%;
    width: 100%;
    overflow-x: auto;
    border-style: solid;
    border-width: 2%;

}
.users_messages{
    background-color: gray;
    border-radius: 10% 10% 10% 10%;
    margin-top: 1%;
    margin-bottom: 3%;
    margin-left: 2.5%;
    padding: 1.5%;
}
.my_messages{
    background-color: green;
    border-radius: 10% 10% 10% 10%;
    margin-top: 1%;
    margin-bottom: 3%;
    margin-left: 2.5%;
    padding: 1.5%;
}
.center_chat_button{
    margin-top: 12%;
    margin-left: 15%;
}
.margin_text_area{
    margin-left: 5%;
    margin-top: 1.5%;
}